@font-face {
  font-family: 'Suisse Intl Regular';
  src: url('/public/fonts/fonnts.com-Suisse_Intl_Regular.ttf') format('truetype');
}

body {
  margin: 0;
  font-family: 'SuisseIntlRegular', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.MuiTypography-root {
  font-family: 'SuisseIntlRegular', sans-serif;
}
